<p id="b2b_block_id">
  <%= f.label :b2b_external_id, l(:label_b2b_external_id) %>
  <%= f.text_field :b2b_external_id %>
</p>

<script type="text/javascript">
  EASY.schedule.late(function () {
    const b2b_block = $("#b2b_block_id");
    const div_block = $(".splitcontentleft");

    if (div_block.length) {
      div_block.append(b2b_block)
    }
  });
</script>
